#root {
  margin: auto;
  max-width: 600px;
}

.full-height {
  margin: auto;
  height: 80vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  background: white;
}

.input{
  height:100px;
}
